{% load static %}

<header class="header rs-nav header-transparent">
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="topbar-left">
                    <ul>
                        <li><a href="{% url 'contact-us' %}"><i class="fa fa-question-circle"></i>Ask a Question</a></li>
                        <li><a href="javascript:;"><i class="fa fa-envelope-o"></i>info@successsolutions.com.ng</a></li>
                    </ul>
                </div>
                <div class="topbar-right">
                    <ul>
                        <li>
                            <select class="header-lang-bx">
                                <option data-icon="flag flag-uk">English UK</option>
                                <option data-icon="flag flag-us">English US</option>
                            </select>
                        </li>
                        <li><a href=" {% url 'user-login' %} ">Login</a></li>
                        <li><a href="">Applications</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-header navbar-expand-lg">
        <div class="menu-bar clearfix">
            <div class="container clearfix">
                <!-- Header Logo ==== -->
                <div class="menu-logo">
                    <a href="{% url 'pages-home' %}"><img src="{% static 'assets/images/logo-white.png' %}" alt="Success Digital Solutions Logo"></a>
                </div>
                <!-- Mobile Nav Button ==== -->
                <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- Author Nav ==== -->
                <div class="secondary-menu">
                    <div class="secondary-inner">
                        <ul>
                            <li><a href="https://web.facebook.com/SUCCESSGANDE" target="_blank" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/successgande" target="_blank" class="btn-link"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/gandepuun-emmanuel-a61693198/" target="_blank" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                            <!-- Search Button ==== -->
                            <li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
                        </ul>
                    </div>
                </div>
                <!-- Search Box ==== -->
                <div class="nav-search-bar">
                    <form action="#">
                        <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                        <span><i class="ti-search"></i></span>
                    </form>
                    <span id="search-remove"><i class="ti-close"></i></span>
                </div>
                <!-- Navigation Menu ==== -->
                <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                    <div class="menu-logo">
                        <a href="{% url 'pages-home' %}"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">	
                        <li><a href="{% url 'pages-home' %}">Home</a></li>
                        <li ><a href="{% url 'pages-about' %}">About Us <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'pages-about' %}">Our Vision</a></li>
                                <li><a href="{% url 'pages-about'  %}">Our Mission</a></li>
                            </ul>
                        </li>
                        <li class="add-mega-menu activate"><a href="javascript:;">Services <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu add-menu">
                                <li class="add-menu-left">
                                    <h5 class="menu-adv-title">Our Services</h5>
                                    <ul>
                                        <li><a href="{% url 'custom-software' %}">Mobile Web Development </a></li>
                                        <li><a href="{% url 'digital-services' %}">Online Digital Services</a></li>
                                        <li><a href="{% url 'admission-process' %}"> Training</a></li>
                                        <li><a href="{% url 'internet-of-things' %}">Internet of Things Development</a></li>
                                        <li><a href="{% url 'ict-consultancy' %}">ICT Consultancy</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="add-menu-right">
                                    <img src="{% static 'assets/images/adv/success-digital-solutions.jpg' %}" alt="Web Development photo"/>
                                </li>
                            </ul>
                        </li>
                        
                        <li><a href="javascript:;">Our Portfolio<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a target="_blank" href="https://accounts.successsolutions.com.ng/">Income & Expenditure App</a></li>
                                <li><a target="_blank" href="https://scholarships.successsolutions.com.ng/">Students' Scholarship App</a></li>
                                <li><a target="_blank" href="https://uya.successsolutions.com.ng/">Property Management App</a></li>
                                
                            </ul>
                        </li>
                        
                        
                        <li>
                            <a href="{% url 'contact-us' %}">Get In Touch</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'contact-us' %}">Send Message</a></li>
                             
                            </ul>
                        </li>
                        <!-- <li><a href="javascript:;">Blog <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="#">Web Development Education</a></li>
                             
                            </ul>
                        </li> -->

                        <li>
                            <a href="{% url 'admission-process' %}">Admissions</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'training-programs' %}">Apply for Admission</a></li>
                             
                            </ul>
                        </li>
                        
                    </ul>
                    <div class="nav-social-link">
                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                        <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!-- Navigation Menu END ==== -->
            </div>
        </div>
    </div>
</header>