{% load static %}

<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
    <div class="course-detail-bx">
            
        <div class="course-buy-now text-center">
            <a href="{% url 'contact-us' %}" class="btn radius-xl text-uppercase">Contact Us</a>
        </div>
        <div class="teacher-bx">
            <div class="teacher-info">
                <div class="teacher-thumb">
                    <img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt=""/>
                </div>
                <div class="teacher-name">
                    <h5>Igbeh Emmanuel</h5>
                    <span>Proprietor</span>
                </div>
            </div>
        </div>
        
        <div class="course-info-list scroll-page">

            <p style="text-align: center; margin:2px; color:red;">+2348026421028</p>
            
        </div>
    </div>
    
</div>