{% load static %}

<div class="section-area section-sp2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading-bx left">
                <h2 class="title-head">Explore <span>Our Portfolio Journey.</span></h2>
                <p>Click through each slide to witness the transformative power of our ICT Solutions..</p>
            </div>
        </div>
        <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
            <div class="item">
                <div class="recent-news">
                    <div class="action-box">
                        <img src="{% static 'assets/images/blog/latest-blog/pic1.jpg' %}" alt="Blog Image One">
                    </div>
                    <div class="info-bx">
                        <ul class="media-post">
                            <li><a href="#"><i class="fa fa-calendar"></i>Jan 02 2021</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>By SUCCESSGANDE</a></li>
                        </ul>
                        <h5 class="post-title"><a href="#">Income & Expenditure App.</a></h5>
                        <p>Knowing that, every business owns an Income and Expenditure book, we have developed a solution that solves all the problems.</p>
                        <div class="post-extra">
                            <a href="#" class="btn-link">READ MORE</a>
                            <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20 Comment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="recent-news">
                    <div class="action-box">
                        <img src="{% static 'assets/images/blog/latest-blog/pic2.jpg' %}" alt="Recent Blog Image Two">
                    </div>
                    <div class="info-bx">
                        <ul class="media-post">
                            <li><a href="#"><i class="fa fa-calendar"></i>April 05 2022</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>By SUCCESSGANDE</a></li>
                        </ul>
                        <h5 class="post-title"><a href="#">Scholarship Application</a></h5>
                        <p>As desperate as you are right now about awarding Students Scholarships, you need a platform that does the whole job with reports.</p>
                        <div class="post-extra">
                            <a href="#" class="btn-link">READ MORE</a>
                            <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>14 Comment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="recent-news">
                    <div class="action-box">
                        <img src="{% static 'assets/images/blog/latest-blog/pic3.jpg' %}" alt="Recent Blog Image Three">
                    </div>
                    <div class="info-bx">
                        <ul class="media-post">
                            <li><a href="#"><i class="fa fa-calendar"></i>April 14 2019</a></li>
                            <li><a href="#"><i class="fa fa-user"></i>By George</a></li>
                        </ul>
                        <h5 class="post-title"><a href="#">Event Mgt. App.</a></h5>
                        <p>Organising Events that needs accountability afterwards needs a software like ours to handle it.</p>
                        <div class="post-extra">
                            <a href="#" class="btn-link">READ MORE</a>
                            <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>23 Comment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>