<div class="row">
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg1">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Transactions:
                </h4>
                <span style="color:gray;font-size:small">
                    Today: {{date_today}} 
                </span>
                <span class="wc-stats">
                    <span class="counter">{{ count_income }}</span>
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        78%
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg2">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Expenses:
                </h4>
                <span style="color:rgb(8, 8, 8);font-size:small">
                    Today: {{date_today}} 
                </span>
                <span class="wc-stats counter">
                    {{ count_expenses }}
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        88%
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    
    
   
</div>