{% load static %}

<div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image:url ({% static 'assets/images/background/bg1.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white heading-bx left">
                <h2 class="title-head text-uppercase">What Our Clients <span>are saying</span></h2>
                <p>SUCCESSGANDE ICT Solutions is actually concerned with providing reliable Digital Solutions.</p>
            </div>
        </div>
        <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
            <div class="item">
                <div class="testimonial-bx">
                    <div class="testimonial-thumb">
                        <img src="{% static 'assets/images/testimonials/church-pastor.jpg' %}" alt="Testmony Photo One">
                    </div>
                    <div class="testimonial-info">
                        <h5 class="name">Pastor Ifeanyi David Emeaghara</h5>
                        <p>Lead Pastor: Extraordinary Family In't Church Lagos. Nig.</p>
                    </div>
                    <div class="testimonial-content">
                        <p>SUCCESSGANDE ICT Solutions has given our Church website a Mobile Responsive Touch. We are Happy <a href="www.extraordinaryfamilychurch.org">Our Church Website</a>  is 
                            worth our money.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-bx">
                    <div class="testimonial-thumb">
                        <img src="{% static 'assets/images/testimonials/wasu-president.png' %}" alt="Testmony Photo Two">
                    </div>
                    <div class="testimonial-info">
                        <h5 class="name">Pillah Romans</h5>
                        <p>-WASU : President</p>
                    </div>
                    <div class="testimonial-content">
                        <p>Indeed SUCCESSGANDE ICT Solutions is bringing ICT closer to the people affordably. The West African Students' Union Scholarship 2022 Application Portal was something to write home about.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>