

<div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-6 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>New Applicants</h4>
            </div>
            <div class="widget-inner">
                <div class="new-user-list">
                    <ul>
                        {% for worker in workers %}
                        <li>
                            <span class="new-users-pic">
                                <img src="{{ worker.profile.image.url }}" alt=""/>
                            </span>
                            <span class="new-users-text">
                                <a href="#" class="new-users-name">{{ worker.username }} </a>
                                <span class="new-users-info">{{ worker.profile.position }} </span>
                            </span>
                            <span class="new-users-btn">
                                <a href="#" class="btn button-sm outline">View Profile</a>
                            </span>
                        </li>
                        {% endfor %}
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>New Students </h4>
            </div>
            <div class="widget-inner">
                <div class="orders-list">
                    <ul>
                       
                        {% for revenue in income %}
                         
                                <li>
                                    <span class="orders-title">
                                        <a href="#" class="orders-title-name">{{revenue.description}} </a>
                                        <span class="orders-info">Added:  | Date: {{revenue.date}}</span>
                                    </span>
                                    <span class="orders-btn">
                                        <a href="#" class="btn button-sm green">Income</a>
                                    </span>
                                </li>

                        {% endfor %}

                        
                        {% for expense in expenses %}

                        <li>
                            <span class="orders-title">
                                <a href="#" class="orders-title-name">{{expense.description}}</a>
                                <span class="orders-info">Added:  | Date: {{expense.date}}</span>
                            </span>
                            <span class="orders-btn">
                                <a href="#" class="btn button-sm red">Expenses</a>
                            </span>
                        </li>

                        {% endfor %}
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
 
    
</div>