{% extends 'base.html' %}

{% block title %} About SUCCESSGANDE | Digital Solutions {% endblock %}

{% load static %}

{% block content %}

<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
   {% include 'partials/_header.html' %}
    <!-- header END ==== -->
    <!-- Inner Content Box ==== -->
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/SUCCESSGANDE_Banner.jpg' %}');">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">SUCCESS Digital Solutions.</h1>
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
		<!-- Page Content Box ==== -->
		<div class="content-block">
            <!-- About Us ==== -->
			
			
            <div class="section-area section-sp1">
				<div class="container">
					<div class="ttr-blog-grid-3 row" id="masonry">
						<div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40 text-center">
							<div class="recent-news">
								<div class="action-box">
									<img src="{% static 'assets/images/blog/latest-blog/our-vision.jpg' %}" alt="Our Vision Image">
								</div>
								<div class="info-bx">
									
									
									<p>To become the Most Impactful and Successful ICT Solution Provider in Nigeria within the next decade.</p>
									
								</div>
							</div>
						</div>
						<div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40 text-center">
							<div class="recent-news">
								<div class="action-box">
									<img src="{% static 'assets/images/blog/latest-blog/our-mission.jpg' %}" alt="Our Mission Image">
								</div>
								<div class="info-bx">
									
									
									<p>To Bring ICT Solutions closer to Businesses in order 
									to remove stressful operations through the use of Smart, and Innovative 
									Software Solutions Concept; that is Scalable using Caring and 
									Exceptional approaches for all kinds of businesses.</p>
									
								</div>
							</div>
						</div>
						<div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40 text-center">
							<div class="recent-news">
								<div class="action-box">
									<img src="{% static 'assets/images/blog/latest-blog/success-code.png' %}" alt="Operational code Image">
								</div>
								<div class="info-bx">
									
									
								
									<ul>
										<li>Smart</li>
										<li>Understandable</li>
										<li>Caring</li>
										<li>Concept</li>
										<li>Exceptional</li>
										<li>Scalable</li>
										<li>Solution</li>
									</ul>
								</div>
							</div>
						</div>
					
					</div>
					<!-- Pagination ==== -->
					
					<!-- Pagination END ==== -->
				</div>
			</div>

            <!-- About Us END ==== -->
            
            <!-- Our Story ==== -->
			<div class="section-area bg-gray section-sp1 our-story">
				<div class="container">
					<div class="row align-items-center d-flex">
						<div class="col-lg-5 col-md-12 heading-bx">
							<h2 class="m-b10">Our Story</h2>
							
							<p>SUCCESSGANDE ICT Solutions was formally known as SUCCESS ICT Empire, a registered business organization with 
								Corporate Affairs Commission (CAC) Abuja, Nigeria. Our Core 
								Mission is to make ICT solutions accessible for businesses 
								to strive using an exceptional approach that is based on solutuon 
								provision above profit maximizing. </p>
								<p>Our Office is located at #59 Ahmadu Bello Way, Gboko, Benue State. Nigeria.
									Phone: +2348026421028, +2349164660944, +2348034987902.
								</p>
								<p>
									We are Certified Web Developers from Google, through the 
									Google African Developer Scholarship Training Program, and we are always 
									and currently undergoing trainings from recognized IT Training 
									firms in emerging programming technologies in order to continue to 
									serve you better.
								</p>
							<a href="#" class="btn">Read More</a>
						</div>
						<div class="col-lg-7 col-md-12 heading-bx p-lr">
							<div class="video-bx">
								<img src="{% static 'assets/images/about/pic1.jpg' %}" alt="About success image"/>
								<a href="https://www.youtube.com/watch?v=x_sJzVe9P_8" class="popup-youtube video"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Our Story END ==== -->
			<!-- Our Status ==== -->
			<div class="section-area content-inner section-sp1">
                <div class="container">
                    <div class="section-content">
                         <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-primary">
										<span class="counter">3000</span><span>+</span>
									</div>
									<span class="counter-text">Completed Projects</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">2500</span><span>+</span>
									</div>
									<span class="counter-text">Happy Clients</span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-primary">
										<span class="counter">1500</span><span>+</span>
									</div>
									<span class="counter-text">Questions Answered</span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">1000</span><span>+</span>
									</div>
									<span class="counter-text">Ordered Coffee's</span>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Our Status END ==== -->
			<!-- About Content ==== -->
			<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" style="background-image:url('{% static 'assets/images/background/bg1.jpg' %}');">
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-white">
								<h2>Core  <br/> Services</h2>
								
								<ul>
									<li>Mobile Web Development & Design</li>
									<li>Web Applications Development</li>
									<li>Professional Training</li>
									<li>On-Demand Search Engine Optimization</li>
								</ul>
								<a href="#" class="btn button-md">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About Content END ==== -->
			<!-- Testimonials ==== -->
			{% include "partials/_testimonies.html" %}
			<!-- Testimonials END ==== -->
		</div>
		<!-- Page Content Box END ==== -->
    </div>
    <!-- Inner Content Box END ==== -->
    <!-- Footer ==== -->
    {% include 'partials/_footer.html' %}
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up"></button>
</div>

{% endblock %}