{% extends 'base.html' %}

{% block title %} About SUCCESSGANDE | Digital Solutions {% endblock %}

{% load static %}

{% block content %}

<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
   {% include 'partials/_header.html' %}
    <!-- header END ==== -->
    <!-- Inner Content Box ==== -->
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/successgande-ict-resources-ltd-banner.jpg' %}');">
            <div class="container">
                <!-- <div class="page-banner-entry">
                    <h1 class="text-white">SUCCESSGANDE ICT RESOURCES LTD.</h1>
				 </div> -->
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'pages-home' %}">Home</a></li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
		<!-- Page Content Box ==== -->
		<div class="content-block">
            <!-- About Us ==== -->
			
			
            <div class="section-area section-sp1">
				<div class="container">




					<div class="" id="instructor">
						<h4>Our Core Values</h4>
						<div class="instructor-bx">
							
							<div class="instructor-info">
								
																
								<p class="m-b0">
									<p><b>Excellence:</b> We strive for excellence in all our endeavors, delivering top-notch solutions and services that exceed expectations and industry standards.</p>

									<p><b>Integrity:</b> We conduct ourselves with unwavering honesty, transparency, and ethical practices, building trust and credibility with our clients and partners.</p>
									
									<p><b>Innovation:</b> Embracing continuous innovation, we push the boundaries of technology to develop creative and effective solutions that anticipate and meet the evolving needs of our customers.</p>
									
									<p><b>Customer-Centricity:</b> Our customers' success is at the core of what we do. We listen, understand, and tailor our services to provide personalized and impactful solutions.</p>
									
									<p><b>Collaboration:</b> We believe in the power of teamwork and collaboration, fostering a supportive and inclusive environment that brings together diverse talents to achieve shared goals.</p>
									
									<p><b>Social Responsibility:</b> Committed to making a positive impact on society, we actively engage in initiatives that promote digital literacy, environmental sustainability, and community development.</p>
									
								</p>
							</div>

							
						</div>


						
						
						
					</div>


					<div class="ttr-blog-grid-3 row" id="masonry">
						<div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40 text-center">
							<div class="recent-news">
								<div class="action-box">
									<h2>Our Vision</h2>
								</div>
								<div class="info-bx">
									
									
									<p>
										To be the leading catalyst of positive transformation in Nigeria's 
										digital landscape, empowering individuals and businesses with 
										cutting-edge ICT solutions that foster growth, innovation, and inclusivity.
									</p>
									
								</div>
							</div>
						</div>
						<div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40 text-center">
							<div class="recent-news">
								<div class="action-box">
									<h2>Our Mission</h2>
								</div>
								<div class="info-bx">
									
									
									<p>
										Empowering Nigeria through innovative ICT solutions 
										and training, providing affordable web services, advanced 
										user applications, and expert ICT consultancy.
									</p>
									
								</div>
							</div>
						</div>
						<div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40 text-center">
							<div class="recent-news">
								<div class="action-box">
									<h3>Our Trade Mark</h3>
								</div>
								<div class="info-bx">
									<img src="{% static 'assets/images/banner/Real-Logo.jpg' %}" alt="SUCCESSGANDE ICT image"/>
													
								
									
								</div>
							</div>
						</div>
					
					</div>
					<!-- Pagination ==== -->
					
					<!-- Pagination END ==== -->
				</div>
			</div>

            <!-- About Us END ==== -->
            
            <!-- Our Story ==== -->
			<div class="section-area bg-gray section-sp1 our-story">
				<div class="container">
					<div class="row align-items-center d-flex">
						<div class="col-lg-5 col-md-12 heading-bx">
							<h2 class="m-b10">Our Story</h2>
							
							<p>
								<b>SUCCESSGANDE ICT RESOURCES LTD</b> is a dynamic and innovative ICT 
								company that started its operations in Gboko, Benue State, Nigeria, 
								in 2021 under the name <b>SUCCESSGANDE ICT SOLUTIONS</b>. With a passion 
								for technology and a vision to make a positive impact on the 
								Nigerian society, the company has grown and evolved into a private 
								Limited company, registered with the Corporate Affairs 
								Commission (CAC) in Abuja with <b>Registration Number RC:7070522</b>.
							</p>
								<p>
									Our success story is incomplete without our dedicated and talented 
									team of professionals. Combining expertise across various disciplines, 
									we work collaboratively to deliver holistic and impactful ICT solutions.
								</p>
								<p>
									We are Certified Web Developers from Google, through the 
									Google African Developer Scholarship Training Program, and we are always 
									and currently undergoing trainings from recognized IT Training 
									firms in emerging programming technologies in order to continue to 
									serve you better.
								</p>
								<h6> <b>Our Future:</b> </h6>
								<p>
									As we continue to evolve and grow, we remain steadfast in our vision 
									of becoming a leading catalyst for positive transformation in Nigeria's 
									digital landscape. We aim to forge new partnerships, expand our reach, 
									and contribute to the advancement of technology adoption and digital 
									literacy in the country.
								</p>
							
						</div>
						<div class="col-lg-7 col-md-12 heading-bx p-lr">
							<div class="video-bx">
								<img src="{% static 'assets/images/about/pic1.jpg' %}" alt="About success image"/>
								<a href="https://www.youtube.com/watch?v=x_sJzVe9P_8" class="popup-youtube video"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>

					
				</div>
			</div>

			<div class="section-area section-sp1">
				<div class="container">

					<div class="" id="instructor">
						<h4>Our Services:</h4>
						<div class="instructor-bx">
							
							<div class="instructor-info">
								
																
								<p class="m-b0">
									<p>
										At <b>SUCCESSGANDE ICT RESOURCES LTD,</b> we offer a comprehensive range of 
										cutting-edge ICT services to cater to the diverse needs of individuals
										 and businesses alike. Our core services include:
									</p>
									<p><b>Web Development:</b> Crafting engaging and functional websites and Web Applications that elevate our clients' online presence and user experience.</p>

									<p><b>Internet of Things (IoT):</b> Pioneering IoT solutions that seamlessly connect devices and systems, enabling smart, data-driven decision-making.</p>

									<p><b>Programming Training:</b> Empowering individuals with comprehensive computer literacy and web programming training to equip them with the skills needed for a digital future.</p>
									
									<p><b>ICT Consultancy:</b> Providing expert guidance and strategic insights to assist businesses in leveraging technology for enhanced efficiency and growth.</p>
									
								</p>
							</div>

							
						</div>
						
					</div>

				</div>
			</div>

			

			
			{% include "partials/_testimonies.html" %}
			<!-- Testimonials END ==== -->
		</div>
		<!-- Page Content Box END ==== -->
    </div>
    <!-- Inner Content Box END ==== -->
    <!-- Footer ==== -->
    {% include 'partials/_footer.html' %}
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up"></button>
</div>

{% endblock %}