{% extends 'base.html' %}

{% block title %} SUCCESSGANDE | {{ page_title }} {% endblock %}

{% load static %}

{% block content %}
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
   {% include 'partials/_header.html' %}
    <!-- header END ==== -->
    <!-- Inner Content Box ==== -->
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/successgande-ict-resources-ltd-banner.jpg' %}');">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white"></h1> 
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'pages-home' %}">Home</a></li>
                    <li><a href="{% url 'training-programs' %}">Training</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
        <div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row d-flex flex-row-reverse">
						
                        {% include 'partials/_proprietor.html' %}
					
						<div class="col-lg-9 col-md-8 col-sm-12">
				
							
						
							<div class="" id="instructor">
								
                                    <h2 style="text-align: center; font-family:sans-serif; color:orange; margin-bottom:7px;">Our Computer Literacy and Programming Training.</h2>
                                

                                <p style="text-align: center; color:blue; font-size:1.2rem;">
                                    At SUCCESSGANDE ICT RESOURCES LTD, we are committed to empowering individuals with 
                                    the essential digital skills needed to thrive in today's technology-driven world. 
                                    Our comprehensive training programs cover three key areas:
                                </p>
                                   
								<div class="instructor-bx">
									
									<div class="ttr-post-info">
                                        
                                        <div class="ttr-post-text">
                                            <h4>1. Computer Literacy:</h4>

                                            <p>
                                                We believe that computer literacy is the foundation of success in the digital age. 
                                                Our computer literacy training equips learners with fundamental knowledge and skills 
                                                to navigate computers and confidently use essential software applications. 
                                                Whether you are a beginner or looking to enhance your existing skills, 
                                                our tailored training ensures you gain the confidence to embrace technology with ease.
                                            </p>

                                            <h4>2. Computer Windows Applications:</h4>
                                            <p>
                                                In today's workplace, proficiency in Windows applications is crucial for productivity
                                                 and efficiency. Our training focuses on essential Windows applications, such as Microsoft Word, 
                                                 Excel, PowerPoint, Corel Draw, Internet Browsing and more. We guide you through hands-on exercises,
                                                  providing practical insights and tips to maximize your productivity and create professional 
                                                  documents, spreadsheets, presentations, graphic design and more.
                                            </p>

                                            <h4>4. Programming Training:</h4>

                                            <p>
                                                Unlock the world of coding and unleash your potential with our programming training. 
                                                Whether you aspire to be a software developer, web designer, or simply want to explore 
                                                the fascinating world of coding, our courses cater to all levels of learners. 
                                                From the basics of programming languages to advanced coding techniques, 
                                                our expert instructors guide you through real-world projects, fostering 
                                                critical thinking and problem-solving skills.
                                            </p>
                                            <h5>Why Choose Our Training:</h5>
                                            <p>
                                                <b>- Experienced Instructors:</b> Our trainers are industry experts with a passion 
                                                for teaching and a wealth of experience in the ICT field.
                                            </p>
                                            <p>
                                               <b> - Hands-on Learning:</b> We believe in practical learning, where you apply concepts
                                                in real-world scenarios to reinforce your understanding.
                                            </p>
                                            <p>
                                                <b>- Flexible Learning Options:</b> Choose from our in-person training sessions, 
                                                catering to your convenience and learning preferences.
                                            </p>
                                            <p>
                                                <b>- Personalized Approach:</b> We understand that every learner is unique. 
                                                Our training is tailored to 
                                                accommodate your pace and specific learning needs.
                                            </p>
                                            <p>
                                                <b>- Continuous Support:</b> Even after completing the training, we provide ongoing support 
                                                and resources to ensure your learning journey continues.
                                            </p>
                                            <p>
                                                Whether you aim to enhance your professional skills or explore new horizons in 
                                                the digital realm, our Computer Literacy, Computer Windows Applications, 
                                                and Programming Training will equip you with the tools to succeed in the digital age.
                                            </p>
                                            <p>
                                                Contact us today to embark on your journey to digital empowerment!
                                            </p>
                                           
                                            <p>
                                                Please note that Admission into all our Traning Programs is and MUST be done online as follows.
                                            </p>

                                            <ol>
                                                <li>Obtain Admission PIN at #59 Ahmadu Bello Way Gboko.</li>
                                                <li>Visit <a target="_blank" href=" {% url 'pin-activation' %} ">Our Online Application for Admission</a> Portal to Fill Course Admission Form.</li>
                                                <li>Submit and Print Out the Admission Photo Card. </li>
                                                <li>Photocopy and keep a COPY of your Photo Card for future purposes.</li>
                                                
                                            </ol>
                                            
    
                                            <p style="font-family: san-serif; font-size:1.2rem; color:blue;">
                                                Have any question? Reach us on +2348026421028, +2349164660944 or email us at 
                                                info@successsolutions.com.ng,  successgande@hotmail.com, gandesuccess@gmail.com.
                                            </p>
    
                                            <p>
                                                <b style="color:blue;">OFFICE ADDRESS:</b>  <b style="color:red;">#59 Ahmadu Bello Way, Gboko, Benue State. Nigeria.</b> 
                                            </p>

                                            
                                            <p style="font-family: san-serif; font-size:1.2rem; text-align:center;">
                                                <b style="color: red;">NOTE:</b>  Part payment for ANY of Our Computer Training Programs can ONLY 
                                                be acceptable upon receipt of 70% of the Courese Fee.
                                            </p>

                                            <a class="btn btn-success-sm" href="{% url 'training-programs' %}">Get Started</a> 
                                        </div>
                                    </div>

									
								</div>

								
								
							</div>
							
							
						</div>
						
					</div>
				</div>
            </div>
            {% include "partials/_footer.html" %}
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
        </div>



{% endblock %}