{% extends 'base.html' %}

{% block title %} SUCCESSGANDE | {{page_title}} {% endblock %}

{% load static %}



{% block content %}


<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    
        <!-- Header Top ==== -->
        {% include 'partials/_header.html' %}
        <!-- header END ==== -->
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/SUCCESSGANDE_Banner.jpg' %}');">
                <div class="container">
                    <div class="page-banner-entry">
                        <h1 class="text-white">Contact Us </h1>
                     </div>
                </div>
            </div>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <div class="container">
                    <ul class="list-inline">
                        <li><a href="{% url 'pages-home' %}">Home</a></li>
                        <li>Contact Us </li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumb row END -->
        
            <!-- inner page banner -->
            <div class="page-banner contact-page section-sp2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 m-b30">
                            <div class="bg-primary text-white contact-info-bx">
                                <h2 class="m-b10 title-head">Contact <span>Information</span></h2>
                                <p>SUCCESSGANDE ICT Solutions Contact Details.</p>
                                <div class="widget widget_getintuch">	
                                    <ul>
                                        <li><i class="ti-location-pin"></i>#59 Ahmadu Belo Way, Gboko. Benue State, Nigeria.</li>
                                        <li><i class="ti-mobile"></i>+2349164660944 (24/7 Support Line)</li>
                                        <li><i class="ti-email"></i>info@successsolutions.com.ng</li>
                                    </ul>
                                </div>
                                <h5 class="m-t0 m-b20">Follow Us</h5>
                                <ul class="list-inline contact-social-bx">
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                     
                        <div class="col-lg-7 col-md-7 ">
                                <!-- Alerts-->	
				            {% include 'partials/_alerts.html' %}
				            <!-- Alerts End-->
                        
                                   
                             
                                

                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
        </div>
        <!-- Content END-->
        <!-- Footer ==== -->
        {% include "partials/_footer.html" %}
        <!-- Footer END ==== -->
        <!-- scroll top button -->
        <button class="back-to-top fa fa-chevron-up" ></button>
    </div>

{% endblock %}


