{% extends 'base.html' %}

{% block title %} SUCCESSGANDE | {{page_title}} {% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    
        <!-- Header Top ==== -->
        {% include 'partials/_header.html' %}
        <!-- header END ==== -->
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/successgande-ict-resources-ltd-banner.jpg' %}');">
                <div class="container">
                    <!-- <div class="page-banner-entry">
                        <h1 class="text-white">Contact Us </h1>
                     </div> -->
                </div>
            </div>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <div class="container">
                    <ul class="list-inline">
                        <li><a href="{% url 'pages-home' %}">Home</a></li>
                        <li>{{page_title}} </li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumb row END -->
        
            <!-- inner page banner -->
            <div class="page-banner contact-page section-sp2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 m-b30">
                            <div class="bg-primary text-white contact-info-bx">
                                <h2 class="m-b10 title-head">Contact <span>Information</span></h2>
                                <p>SUCCESSGANDE ICT RESOURCES LTD Contact Details.</p>
                                <div class="widget widget_getintuch">	
                                    <ul>
                                        <li><i class="ti-location-pin"></i>#59 Ahmadu Belo Way, Gboko. Benue State, Nigeria.</li>
                                        <li><i class="ti-mobile"></i>+2349157095514, +2348026421028 (24/7 Support Lines)</li>
                                        <li><i class="ti-email"></i>info@successsolutions.com.ng</li>
                                    </ul>
                                </div>
                                <h5 class="m-t0 m-b20">Follow Us</h5>
                                <ul class="list-inline contact-social-bx">
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                     
                        <div class="col-lg-7 col-md-7 ">
                                <!-- Alerts-->	
				            {% include 'partials/_alerts.html' %}
				            <!-- Alerts End-->
                        
                            <form class="contact-bx" action="" method="POST">
                                {% csrf_token%}
                                
                                    <div class="heading-bx left">
                                        <h2 class="title-head">Get In <span>Touch</span></h2>
                                        <p>You are free to send Us Message or Request for Quotation of our Services using the form below.</p>
                                    </div>
                                    <div class="row placeani">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label>Your Name</label>
                                                    <input name="name" type="text" required class="form-control valid-character">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group"> 
                                                    <label>Your Email Address</label>
                                                    <input name="email" type="email" class="form-control" required >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label>Your Phone</label>
                                                    <input name="phone" type="text" required class="form-control int-value">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label>Subject</label>
                                                    <input name="subject" type="text" required class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label>Type Message</label>
                                                    <textarea name="message" rows="4" class="form-control" required ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="g-recaptcha" data-sitekey="6Lf2gYwUAAAAAJLxwnZTvpJqbYFWqVyzE-8BWhVe" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                                    <input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-12">
                                            <button name="submit" type="submit" value="Submit" class="btn button-md"> Send Message</button>
                                        </div>
                                    </div>
                                </form>

                            <!-- <form method="POST" action="">
                                
                            <div class="ajax-message"></div>
                                <div class="heading-bx left">
                                    <h2 class="title-head">Get In <span>Touch</span></h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                </div>
                                 
                                    {% csrf_token %}
                                    {{form.name|as_crispy_field}}
                                    {{form.email|as_crispy_field}}
                                    {{form.phone|as_crispy_field}}
                                    {{form.subject|as_crispy_field}}
                                    {{form.message|as_crispy_field}}
                              
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
        </div>
        <!-- Content END-->
        <!-- Footer ==== -->
        {% include "partials/_footer.html" %}
        <!-- Footer END ==== -->
        <!-- scroll top button -->
        <button class="back-to-top fa fa-chevron-up" ></button>
    </div>

{% endblock %}