{% extends 'base.html' %}

{% block title %} Affordable Software Developers in Benue State | SUCCESSGANDE {% endblock %}

{% load static %}

{% block content %}
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
   {% include 'partials/_header.html' %}
    <!-- header END ==== -->
    <!-- Inner Content Box ==== -->
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/SUCCESSGANDE_Banner.jpg' %}');">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white"></h1> 
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'pages-home' %}">Home</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
        <div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row d-flex flex-row-reverse">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="course-detail-bx">
									
								<div class="course-buy-now text-center">
									<a href="{% url 'contact-us' %}" class="btn radius-xl text-uppercase">Contact Us</a>
								</div>
								<div class="teacher-bx">
									<div class="teacher-info">
										<div class="teacher-thumb">
											<img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt=""/>
										</div>
										<div class="teacher-name">
											<h5>Igbeh Emmanuel</h5>
											<span>Lead Software Developer</span>
										</div>
									</div>
								</div>
								
								<div class="course-info-list scroll-page">
									<ul class="navbar">
										<li><a class="nav-link" href="#overview"><i class="ti-zip"></i>Custom Software</a></li>
										<li><a class="nav-link" href="#curriculum"><i class="ti-bookmark-alt"></i>Software Features</a></li>
										<li><a class="nav-link" href="#instructor"><i class="ti-user"></i>Developers</a></li>
										<li><a class="nav-link" href="#reviews"><i class="ti-comments"></i>Testimonies</a></li>
									</ul>
								</div>
							</div>
						</div>
					
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="courses-post">
								<div class="ttr-post-media media-effect">
									<a href="#"><img src="{% static 'assets/images/slider/success-digital-solution-slide1.jpg' %}" alt=""></a>
								</div>
								<div class="ttr-post-info">
									<div class="ttr-post-title ">
										<h2 class="post-title">Quality Software Development</h2>
									</div>
									<div class="ttr-post-text">
										<p>Are you looking for affordable software developers in Benue State? 
											Look no further! Our team of experienced developers provides quality 
											software development services at reasonable rates. 
											
                                        </p>
										<p>
											At our company, we understand that not every business can afford
											 to spend a fortune on software development. That's why we offer 
											 affordable rates without compromising on quality. Our developers
											  are skilled in a variety of programming languages, Frameworks, and platforms, 
											  including Python, Django, JavaScript, CSS3, Bootstrap, HTML5, and more.
											  <a class="btn btn-success-sm" target="_blank" href="{% url 'contact-us' %}">Get In Touch</a> 
										</p>
									</div>
								</div>
							</div>
							<div class="courese-overview" id="overview">
								<h4>Our Custom Software</h4>
								<div class="row">
									<div class="col-md-12 col-lg-4">
										<ul class="course-features">
											<li><i class="ti-book"></i> <span class="label">Accounting App.</span> <span class="value">Ready</span></li>
											<li><i class="ti-help-alt"></i> <span class="label">Scholarship App.</span> <span class="value">Ready</span></li>
											<li><i class="ti-time"></i> <span class="label">Daily Saving App.</span> <span class="value">In Progress</span></li>
											<li><i class="ti-stats-up"></i> <span class="label">Event Mgt. App.</span> <span class="value">In Progress</span></li>
											<li><i class="ti-smallcap"></i> <span class="label">Estate App.</span> <span class="value">Ready</span></li>
							
										</ul>
									</div>
									<div class="col-md-12 col-lg-8">
										<h5 class="m-b5">Accounting Software App.</h5>
										<p>
											We pride ourselves on delivering projects on time and within budget, 
											while maintaining open communication with our clients throughout the 
											development process. We work closely with our clients to ensure that 
											their software meets their specific needs and requirements.

											Whether you need a custom web application, mobile app, or desktop software, 
											our team can help. Contact us today to learn more about our affordable 
											software development services in Benue State. 
											
                                        </p>
                                       
                         
										<h5 style="color:rgb(24, 5, 121)">Our Income & Expenditure Solution.</h5>
										<p>
											<a class="btn btn-success" target="_blank" href="http://accounts.successsolutions.com.ng/">Test Software</a>
											 

                                        </p>
								
										<h5 style="color:rgb(24, 5, 121)">Our Students Scholarship Solution</h5>
										<p>
											<a class="btn btn-success" target="_blank" href="http://scholarships.successsolutions.com.ng/">Test Software</a>
										</p>
										<h5 style="color:rgb(24, 5, 121)">Event Management App.</h5>
										<p>
											Coming Soon!
										</p>
										<h5 class="m-b5">Real Estate Mgt. App.</h5>
										<p>
											Coming Soon!
									
										</p>
										
									</div>
								</div>
							</div>
							<div class="m-b30" id="curriculum">
								<h4 style="color:rgb(155, 5, 45)">Some Software Features</h4>
								<ul class="curriculum-list">
										<li>
											<h5 style="color:rgb(26, 2, 66)">Account App.</h5>
											<ul>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">User Authentication: </span> Admin Add and Manages Users with Roles.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Income & Expenses Input:</span> Staff User can Add Daily Income and Expenses with dates.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Financial Summary:</span> Income and Expenses are Summarise in User Account Dashboard on Daily Basis.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Financial Reports:</span> Admin User can generate Financial Report using Date Ranges and exported to PDF.
													</div>
													
												</li>
											</ul>
										</li>
										<li>
											<h5 style="color:rgb(26, 2, 66)">Scholarship App.</h5>
											<ul>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Application:</span> Candidates can Register and print Photo Card.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Scholarship Approval</span> Admin Can Approve Candidates' scholarship Application and print out the list.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Application Summary:</span> Summary of Submitted, Paid Processing Fee and Beneficiaries is displayed on Cards in Dashboard.
													</div>
													
												</li>
											</ul>
										</li>
										<li>
											<h5 style="color:rgb(26, 2, 66)">Daily Saving App.</h5>
											<ul>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Authentication:</span> Admin Can Add Staff Users with different Roles.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Customers:</span> Designated Staff User can Create Customer Saving Account with Unique Number.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Deposit & Withdrawal:</span> Designated Staff User can add Customer Deposit, Withdrawal Request, and Withdrawals with Printable Slip.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Financial Reports:</span> Designated Staff User can view and generate Reports using Date Ranges.
													</div>
													
												</li>
											</ul>
										</li>
										<li>
											<h5 style="color:rgb(26, 2, 66)">Event Mgt. App.</h5>
											<ul>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Authentication:</span> Admin Can Add Staff Users with different Roles.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Events and Tickets:</span> Admin User Can Manage Events and Tickets
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Tickets & Pins:</span> Admin User can can Generate PINs on Tickets.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Guest Register:</span> Intending Event Guests can Activate Event Ticket Pin and Register with Printout Slip.
													</div>
													
												</li>
												<li>
													<div class="curriculum-list-box">
														<span style="color:brown">Reports:</span> Admin User can generate Timely Reports.
													</div>
													
												</li>
											</ul>
										</li>
									</ul>
							</div>
							
							
							
						</div>
						
					</div>
				</div>
            </div>
        </div>



{% endblock %}