{% extends 'base.html' %}

{% block title %} {{page_title}} | SUCCESSGANDE {% endblock %}

{% load static %}

{% block content %}
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
   {% include 'partials/_header.html' %}
    <!-- header END ==== -->
    <!-- Inner Content Box ==== -->
    <div class="page-content">
		
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/successgande-ict-resources-ltd-banner.jpg' %}');">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white"></h1> 
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'pages-home' %}">Home</a></li>
					<li>{{ page_title }}</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
        <div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row d-flex flex-row-reverse">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="course-detail-bx">
									
								<div class="course-buy-now text-center">
									<a href="{% url 'contact-us' %}" class="btn radius-xl text-uppercase">Contact Us</a>
								</div>
								<div class="teacher-bx">
									<div class="teacher-info">
										<div class="teacher-thumb">
											<img src="{% static 'assets/images/testimonials/successgande.jpg' %}" alt=""/>
										</div>
										<div class="teacher-name">
											<h5>Igbeh Emmanuel G.</h5>
											<span>Co-Founder/Developer</span>
										</div>
									</div>
								</div>
								
								<div class="course-info-list scroll-page">
									<ul class="navbar">
										<li><a class="nav-link" href="#overview"><i class="ti-zip"></i>Responsive Web Design</a></li>
										<li><a class="nav-link" href="#curriculum"><i class="ti-bookmark-alt"></i>Cutting-Edge Web Technologies</a></li>
										<li><a class="nav-link" href="#instructor"><i class="ti-user"></i>Affordable and Reliable Solutions</a></li>
										<li><a class="nav-link" href="#reviews"><i class="ti-comments"></i>Paying Attention to Details and meeting Deadlines</a></li>
									</ul>
								</div>
							</div>
						</div>
					
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="courses-post">
								
								<div class="ttr-post-info">
									
									<div class="ttr-post-text">
										<p>
											Are you looking for top-notch, affordable, and professional ICT 
                                            consultancy services in Benue State? Look no further! At 
                                            SUCCESSGANDE ICT RESOURCES LTD, we take pride in being a 
                                            leading provider of cutting-edge ICT solutions tailored to 
                                            meet your specific needs. Our team of seasoned experts possesses the knowledge, skills, and experience to propel your business to new heights in the digital age.
                                        </p>
                                        <h4>Why Choose SUCCESSGANDE ICT RESOURCES LTD?</h4>
										<p>
											1. Expertise and Experience: With years of hands-on experience, our team of ICT consultants brings extensive knowledge and expertise to the table. We stay up-to-date with the latest trends, technologies, and best practices to ensure your business stays ahead of the competition.
										</p>
                                        
										<p>
											2. Tailored Solutions: We understand that every business is unique, and cookie-cutter solutions won't suffice. Our approach involves understanding your specific requirements and crafting customized solutions that align perfectly with your goals.
										</p>
										<p>
											3. Affordable Services: We believe that quality ICT consultancy should be accessible to all businesses, regardless of size or budget. That's why we offer competitive and transparent pricing, ensuring you get the most value for your investment.
										</p>
										<p>
											4. Comprehensive Services: Whether you need assistance with IT strategy development, software development, web applications development, computer literacy training, ICT facility design, and implementation or any other ICT-related service, we've got you covered. Our comprehensive range of services caters to all your technological needs.
										</p>
										<p>
											5. Customer Satisfaction: Our clients' satisfaction is our ultimate goal. We work closely with you throughout the process, providing regular updates, insights, and support to ensure your expectations are not only met but exceeded.
										</p>
                                        <p>
                                            At SUCCESSGANDE ICT RESOURCES LTD, our mission is to empower businesses in Benue State and beyond by providing them with the ICT tools and expertise necessary for sustainable growth and success. We believe in forging lasting partnerships with our clients and being a reliable extension of their team.
                                        </p>
                                        
										<p>
											Experience the transformational power of professional ICT consultancy. Contact us today for a free consultation, and let's embark on a journey towards ICT excellence together. Your success is our success!
											  <a class="btn btn-success-sm" target="_blank" href="{% url 'contact-us' %}">Get In Touch</a> 
										</p>
									</div>
								</div>
							</div>
							
							
							
							
						</div>
						
					</div>
				</div>
            </div>
			{% include "partials/_footer.html" %}
			<!-- Footer END ==== -->
			<button class="back-to-top fa fa-chevron-up" ></button>
			
        </div>



{% endblock %}