
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket PINs</title>
    
</head>

<body>

    
    <div class="col-md-12">
                        
                            
        
       
          
          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>660206</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>670774</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>936451</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>535432</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>050422</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>867681</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>255878</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>263932</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>210773</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>801921</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>955695</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>689714</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>225901</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>661539</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>113553</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>456058</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>887796</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>410281</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>188739</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>520196</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

            
        
      
        
      
</div>
    
      
</body>
</html>