
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket PINs</title>
    
</head>

<body>

    
    <div class="col-md-12">
                        
                            
        
       
          
          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>714646</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>467279</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>302878</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>870244</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>063659</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>376293</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>208338</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>827982</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>570236</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>776958</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>094379</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>926598</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>102037</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>083633</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>218799</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>863860</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>709950</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>701356</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>944172</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td></td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td></td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N5,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>Frontend Scholarship Training</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>990736</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

            
        
      
        
      
</div>
    
      
</body>
</html>