{% extends 'dashboard_base.html' %}

{% block title %} {{ user.username }} | {{page_title}} {% endblock %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->

<main class="ttr-wrapper">
   
        
        
        <div class="container-fluid">
            	
            <div class="row">
                <!-- Alerts-->	
				{% include 'partials/_alerts.html' %}
				<!-- Alerts End-->
                <!-- Your Profile Views Chart -->
                <div class="col-md-12">
                    <span class="h4" style="color: green;">Training Session Choice For: {{user.profile.othernames}}</span>
                    <hr>
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row">Course Choice :</th>
                            <td>{{user.applicant.course_ticket}}</td> 
                          </tr>   
                          <tr>
                            <th scope="row">Training Session Choice:</th>
                            <td>{{user.tsessions.training_session}}</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row">Training Days Choice:</th>
                            <td>{{user.tsessions.training_days}}</td>                                   
                          </tr> 
                                   
                        </tbody>
 
                      </table>

                      <a class="btn btn-success mr-5" href=" ">Edit</a> <a class="btn btn-success ml-5" href=" {% url 'questionnaire' %} ">Continue</a>
                      
                </div>
                <!-- Your Profile Views Chart END-->
            </div>
        </div>
        
    
</main>

{% endblock %}