{% extends 'dashboard_base.html' %}

{% block title %} {{ user.username }} | Education Detail {% endblock %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->

<main class="ttr-wrapper">
   
        
        
        <div class="container-fluid">
            	
            <div class="row">
                <!-- Alerts-->	
				{% include 'partials/_alerts.html' %}
				<!-- Alerts End-->
                <!-- Your Profile Views Chart -->
                <div class="col-md-12">
                    <span class="h4" style="color: green;">Course of Choice: {{user.applicant.course_ticket}}</span>
                    <hr>
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row">Institution Type:</th> 
                            <td>{{user.education.qualification}}</td> 
                          </tr>   
                          <tr>
                            <th scope="row">Name of Institution:</th>
                            <td>{{user.education.instition}}</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row">Year of Graduation:</th>
                            <td>{{user.education.graduation}}</td>                                   
                          </tr>  
                          
                                          
                        </tbody>

                      </table>

                      <a class="btn btn-success mr-5" href=" {% url 'applicant-contact' %} ">Continue</a> <a class="btn btn-success ml-5" href=" ">Edit</a>
                      
                </div>
                <!-- Your Profile Views Chart END-->
            </div>
        </div>
        
    
</main>

{% endblock %}