{% extends 'base.html' %}

{% load static %}

{% block title %} {{ page_title }} {% endblock %}

{% load bootstrap4 %}

{% block content %}

<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
			<a href="#"><img src="{% static 'assets/images/logo-white-2.png' %}" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">Register <span>Now</span></h2>
					<p>Login Your Account <a href="{% url 'user-login' %}">Click here</a></p>
				</div>
				
				<!-- Alerts-->	
				{% include 'partials/_alerts.html' %}
				<!-- Alerts End-->

				<form method="POST" enctype="multipart/form-data" class="contact-bx">
					<div class="row placeani">

                        {% csrf_token %}

						<div class="form-row">
							<div class="form-group col-md-10 mb-0">
								{% bootstrap_form form %}
							</div>
							
						</div>

						

						<div class="col-lg-12 m-b30">
							
						{% buttons %}
							<button name="submit" type="submit" value="Submit" class="btn button-md">Register</button>
						{% endbuttons %}
						
						</div>
						

							<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
						

					</div>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}